{{ define "layout" }}
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta name="Author" content="SseVven" /> -->
    <!-- <meta name="Copyright" content="SseVven" /> -->
    <!-- <meta name="keywords" content="网站关键字" /> -->
    <!-- <meta name="description" content="网站描述" /> -->
    <!-- <link rel="shortcut Icon" href="网站.ico图标路径" type="image/x-icon" /> -->
    <link rel="stylesheet" href="/css/common.css" />
    {{ template "content" . }}
  </body>
</html>
{{ end }}
