<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Author" content="SseVven" />
    <meta name="Copyright" content="SseVven" />
    <meta name="keywords" content="SseVven" />
    <meta name="description" content="Education" />
    <link rel="shortcut Icon" href="https://www.bilibili.com/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <title>SseVven</title>
    <style>
      body {
  height: 100vh;
  background-color: #f2f2f5;

}

section {
  background-color: #fff;
}
.main-section-loginForm {
  padding: 40px;
}
.login-logo {
  margin-bottom: 30px;
  margin-left: 10px;
  box-shadow: 0 2px 6px #e6ecf1;
}
.header-section-login {
  padding: 40px;
}
.login-form-submit {
  float: right;
}
.regist {
  float: right;
}
.forgetPwd {
  float: right;
  pointer-events:none;
  cursor: not-allowed;
}
.copyright {
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
}
.error::-webkit-input-placeholder {
            color: #f44747;
}
    </style>
  </head>

  <body>
    <!-- 登录title -->
    <header>
      <section class="container header-section-login">
          <span>
            <a href="{{.Home}}"><img src="http://r.photo.store.qq.com/psc?/V12W7vpq3AXwdk/45NBuzDIW489QBoVep5mcV1603gaiSFp3Xob1nxhzA9bo0Km4fpvNpr7UWWE7LRz39HH.J4*RcLOFlZGWN3mgYdQ6X7XwPARpdGxZ7RBLnI!/r" class="img-responsive img-circle login-logo" alt="log"></a>
          </span>
          <h1>欢迎使用 SseVven</h1>
      </section>
    </header>
    <main>
      <!-- 登录表单 -->
      <section class="container main-section-loginForm">
        <form>
          <div class="form-group">
            <label for="login-uname">用户名</label>
            <span class="regist"><a href="{{.RegistAction}}">注册账号</a></span>
            <input
              type="text"
              class="form-control"
              id="login-uname"
              placeholder="用户名"
            />
          </div>
          <div class="form-group">
            <label for="login-pwd">密码</label>
            <span class="forgetPwd"><a href="#">忘记密码?</a></span>
            <input
              type="password"
              class="form-control"
              id="login-pwd"
              placeholder="密码"
            />
          </div>
          <div class="checkbox">
            <label> <input type="checkbox" /> 记住我 </label>
          </div>
          <input id="submit" type="button" class="btn btn-primary login-form-submit" value="登录"></input>
        </form>
      </section>
    </main>
    <!-- 版权说明 -->
    <footer>
      <section class="container copyright">
        <span class="text-muted">Copyright © 2021 SseVven<br>
        Powered by <a href="#">SseVven</a> · Theme by <a href="#">SseVven</a>
        </span>
      </section>
    </footer>

  <script
    src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"
  ></script>
  <script>
    $(document).ready(function(){
        $("#submit").click(function(){
            $("#submit").attr("disabled","disabled");
            username=$("#login-uname").val();
            password=$("#login-pwd").val();
            $.ajax({
                type: 'POST',
                url: "{{.LoginAction}}",
                // contentType:"application/json; charset=utf-8",
                dataType:'json',
                data: {username:username,password:password},
                timeout: 5000,
                beforeSend:function(){
                  $("#login-pwd").attr("placeholder","密码");
                  $("#login-pwd").removeClass('error');
                  $("#login-uname").removeClass('error');
                  $("#login-uname").attr("placeholder","用户名");
                },
                error:function(){
                  alert("服务器返回超时，请重新登录")
                  $("#submit").attr("disabled",false);
                },
                success: function(res){
                    $("#submit").attr("disabled",false);
                    if (res.code == 300) {
                      window.location.href = res.userUrl;
                    } else if(res.code == 310){
                      $("#login-uname").val("");
                      $("#login-pwd").val("");
                      $("#login-uname").attr("placeholder",res.msg);
                      $("#login-uname").addClass('error');
                    } else if(res.code == 320){
                      $("#login-pwd").val("");
                      $("#login-pwd").attr("placeholder",res.msg);
                      $("#login-pwd").addClass('error');
                    }
                },
            });
        });
    });
</script>
  <!-- <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"
  ></script> -->
  </body>
</html>
